/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #2c3e50; 
    color: #ffffff; /* White text */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: inline-flex;
    justify-content:center; /* Align logo and navigation */
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .logo {
    max-width: 5%; /* Ensure the logo doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    align-items:start;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Main content styles */
  .main-content {
    margin-top: 84px; /* Adjust for header height */
    padding: 20px;
  }
  .excel-sheet-manager {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; /* Center-align the text */
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipMstyLcVNwphDY8-waqc257Vh9c0mxssvJz2Sl-=s1360-w1360-h1020'); /* Replace 'url-to-background-image.jpg' with the URL or local path to your background image */
    background-size:cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
    display: flex; /* Use flexbox to make the container occupy the entire viewport */
    flex-direction: column; /* Arrange children vertically */
    min-height: 100vh
  }
  
  /* ExcelSheetManager.css */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 170px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-title {
    margin: 0;
  }
  
  /* Footer styles */
  footer {
    background-color: #2c3e50; 
    color: #ffffff; /* White text */
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: inline-flex;
    justify-content:center; /* Align logo and navigation */
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
   
  }
  
  /* Reset default margin for ul */
  ul {
    padding: 0;
    margin: 0;
  }
  
  /* Remove bullets from the list */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }
  